DATABASE_URL=postgresql://avnadmin:AVNS_1-TTYC3zUI_yQKDpGwI@pg-dtejares-acknowledgement-receipt-generator.e.aivencloud.com:10088/MyMarketPlace?sslmode=require
REDIS_URL=redis://cache:6379
JWT_SECRET=supersecretkey123